@media (max-width: 479px)
{
    .blocks .block .img a{
    	width: 100%;
    }

    .blocks .block .img{
    	width: 100%;
    	margin-bottom:20px;
    }
    .blocks .block .img img{
    	width: 100%;
    }

    .head .form input[type='text']{
    	width: 100%;
    	margin: 0;
    }

    .head .form{
    	padding: 10px;
    }

    .head .form *{
    	margin: 0;
    }

    .head .form label{
    	margin-bottom: 10px;
    	display: block;
    }
    .head .form input[type='reset']{
    	width: 100%;
    	margin-top:10px;
    }

    .head .title h1{
    	font-size: 24px;
    }

    .head .title div{
    	font-size: 14px;
    }

    .new_block{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-left: 0;
    }

    .new_block::-webkit-scrollbar {
        width: 100%;
        height: 8px;
        background: #E6E6E6;
        border-radius: 5.5px;
    }

    .new_block::-webkit-scrollbar-thumb{
        width: 49.69px;
        height: 8px;

        background: #4789FF;
        border-radius: 5.5px;
    }

    .new_block label{
        margin-left: 0;
        min-width: 128px;
        flex-direction: column;
        margin-right: 15px;
        padding: 0;
        display: block;
    }

    .new_block label img{
        width:100%;
    }

    .new_block label input{
        display: none;
    }
    .new_block span{
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #E1E1E1;
        width: 100%;
        display: block;
        text-align: center;
    }
}
